body{
    margin: 0 auto;
    cursor: crosshair;
    background: #F0EFE0;
}

#navigasi {
    display: block;
    height: 70px;
    background: #5D161A;
    border-bottom: 7px solid #999;
}

#navigasi li {
    float: left;
    list-style: none;
    margin-top: 25px;
    margin-left: 20px;
}

#navigasi li a{
    padding: 3px 10px;
    background: #368E7D;
    text-decoration: none;
    color: #fff;
    text-shadow: #000 0px 1px 1px;
    -moz-text-shadow: #000 0px 1px 1px;
    border: 1px solid #ccc;
}

#navigasi li a:hover {
    background: #fff;
    color: #368E7D;
}

#judul {
    color: #368E7D;
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: #000 1px 1px 1px;
    -moz-text-shadow: #000 1px 1px 1px;
    font-size: 25px;
    font-weight: bold;
}

.isi {
    text-align: center;
}
#content{
    font-family: arial;
    color: #486696;
}

table.table-list{
    margin: 0 auto;
}

table.table-list th{
    text-align: left;
}

input[type="submit"] {
    font-family: Times New Roman;
    border: 1px solid #999;
    padding: 7px 15px;
    cursor:pointer;
    font-weight: bold;
    font-size: 15px;
    color: #368E42;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 40px;
}

form {
    
}

#footer {
    height: 20px;
    border-top: 2px solid #333;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.35);
}

#footer p {
    color: #fff;
    font-size: 12.5px;
    text-shadow: #000 1px 1px 1px;
    -moz-text-shadow: #000 1px 1px 1px;
    font-family: arial;
}

.petunjuk-area {
    font-size: 12px;
}

.petunjuk-area a {
    color: #368E7D;
}