body{

    background-image:url(../img/250px-Grid1aibsvg.png);

    font-family: 'Tahoma', cursive;


}

.form-horizontal{
	background: rgba(255,255,255, .5);
	width: 400px;
	padding: 20px 40px ;
	-webkit-border-radius: 20px;
	-webkit-box-shadow :0 0 2px #aaa;
}

input[type="text"],
input[type="password"]{

	border: 1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius :10px;
	border-radius: 10px ;
	padding: 5px ;
	text-align: center;
	width: 100% ;
	font-size: 16px;
	font-family: 'Oleo Script' , center ;
}


